
/*---======================= Animation Start ==========================------- */
.from-left, .from-right, .from-top, .from-bottom {
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s  ease-out;
}

/* Adjust transform properties for each direction */

.from-left {
    transform: translateX(-100px); /* Slide in from the left */
}

.from-right {
    transform: translateX(100px); /* Slide in from the right */
}

.from-top {
    transform: translateY(100px); /* Slide in from the top */
}

.from-bottom {
    transform: translateY(100px); /* Slide in from the bottom */
}

.show.from-left {
    transform: translateX(0);
    opacity: 1;
}

.show.from-right {
    transform: translateX(0);
    opacity: 1;
}

.show.from-top {
    transform: translateY(0);
    opacity: 1;
}

.show.from-bottom {
    transform: translateY(0);
    opacity: 1;
}
/*---======================= Animation End ==========================------- */
.visa-steps-container {
    border-top: 1px solid var(--mainBgColor);
    border-bottom: 1px solid var(--mainBgColor); 
    height: 34rem !important;
    padding: 1rem 0px;
    margin:  0px !important;
    padding: 20px 0px !important;
   background-color: rgb(240, 245, 250);
}

.visa-steps {
    width:60%;
    margin: 30px auto !important;
    display: grid;
    grid-gap: 20px!important;
    grid-template-rows: repeat(2,1fr);
   grid-template-columns: repeat(2,1fr);
}

.visa-steps-container .highlight {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.highlight{
color: var(--headingColor);
}


.visa-steps img {
     height: 50px;
     width: 60px;
    align-self: center;
    justify-self: center;
}

.visa-steps .step1,
.step2,
.step3,
.step4 {
    padding: 0px;
    text-align: start;
}

.step1 h2,
.step2 h2,
.step3 h2,
.step4 h2{
    margin-bottom: 10px;
    letter-spacing: -1.1px;
}
.visa-steps-container h1{
    text-align: center;
    margin-bottom: 2rem;
}
.visa-steps-container p{
    line-height: 1.6;
    text-align: start;
}



@media screen and (max-width:768px) {
 
    h2{
        text-align: start;
        padding:  0px;
    }
   
    .visa-steps-container {
        width: 100% !important;
        margin: 10rem auto !important;
        height: auto !important;
        padding: 0px 20px !important;
    }
    
    .visa-steps-container .highlight {
     
        font-weight: 700;
        text-align: start;
        color: var(--backgroundColor);
        margin: 30px 0px !important;
    }
    .visa-steps-container span{
        font-size: 19px !important;
    }
    .visa-steps {
        height: auto !important;
        width: 100% !important;
       display: flex;
       flex-direction: column;
    }
    
    .visa-steps img {
         height: 100%;
         width: 46px;
        align-self: center;
        justify-self: center;
    }
    
    .visa-steps .step1,
    .step2,
    .step3,
    .step4 {
        width: auto !important;
        height: auto !important;
        padding:  10px;
    }
    
   

.from-left {
    transform: translateY(50px); 
}

.from-right {
    transform: translateY(70px);
}

.from-top {
    transform: translateY(90px); 
}

.from-bottom {
    transform: translateY(0px);
}

.show.from-left {
    transform: translateX(0);
    opacity: 1;
}

.show.from-right {
    transform: translateX(0);
    opacity: 1;
}

.show.from-top {
    transform: translateY(0);
    opacity: 1;
}

.show.from-bottom {
    transform: translateY(0);
    opacity: 1;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  
    .visa-steps-container {
        height: 50rem;
        width: 100%;
        margin: auto;
        padding: 1rem;
        text-align: start;
    }
    .visa-steps-container .highlight {
        font-size: 1.9rem;
    }
  
    .visa-steps {
        height: 30rem;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .visa-steps img {
        height: 3rem;
        width: auto;
    }

    .visa-steps .step1, .step2, .step3, .step4 {
        padding: 20px;
    }

    .step1 h2, .step2 h2, .step3 h2, .step4 h2 {
        color: var(--headingColor);
    }

    .from-left {
        transform: translateY(70px);
    }

    .from-right {
        transform: translateY(100px);
    }

    .from-top {
        transform: translateY(130px);
    }

    .from-bottom {
        transform: translateY(160px);
    }
}
@media screen and (min-width: 1025px){
}