.uni-main-container{
    width: 50% !important;
    margin: 30px auto !important;
    border-left: 1px solid  rgba(0,0,0,0.1);
    border-right: 1px solid  rgba(0,0,0,0.1); 
}

.uni-container{
    width: 100%;
    display: flex;
}
.uni-list-leftSide-container{
    width: 35%;
   
}
.uni-list-rightSide-container{
width: 40% !important;
margin: auto;
}
.uni-list-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if they don’t fit in one row */
    gap: 20px; /* Adds space between items */
    list-style: none;
    padding: 0;
    margin: 0;
}

.university-container {
    flex: 1 1 300px; /* Allows each item to take up a minimum of 300px */
    max-width: 300px; /* Ensures they don’t grow beyond this width */
    box-sizing: border-box;
}
.uni-image {
    padding: 0 10px !important;
}
.uni-image img{
    width: 13rem !important;
    height: auto !important;
    border: none;
    border-radius: 20px !important;
}
.universities-cards{
   display: flex !important;
   align-items: center;
   width: 35rem !important;

}
.universities-cards-info{
    width: 34rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content:start!important;
    padding: 20px 0px !important;
    margin-bottom: 8px !important;
    border: 1px solid #555;
    border-radius: 20px;
    height: 11rem;
    box-shadow: 3px 4px 8px rgba(0,0,0,0.5);
}

.uni-basic-info{
 
}
.uni-basic-info p svg{
    font-size: 15px !important;
    color: #1C3342;
}
.uni-container p{
    font-size: 0.9rem !important;
    color: #555;
}
.uni-container h6{
    font-size: 1rem !important;
}
.course-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.uni-basic-info Button{
    color: #1C3342;
    border: 1px solid #1C3342;
    font-size: 12px !important;
    align-items: center !important;
    text-align: center !important;
    text-transform:capitalize !important;
    padding: 2px !important;
}
.filter{
    width: 15rem;
    margin: 15px !important;
    border: 1px solid #1C3342;
    border-radius: 10px !important;
    text-align: center !important;
}

input::-webkit-input-placeholder {
    text-overflow: inherit;
    overflow-wrap: normal;
    line-height: initial !important;
    -webkit-user-modify: read-only !important;
    white-space: pre;
    overflow: hidden;
}
::-webkit-input-placeholder {
    -webkit-text-security: none !important;
    color: rgb(117, 117, 117)  !important;
    direction: inherit !important;
    pointer-events: none !important;
    text-orientation: inherit !important;
    writing-mode: inherit !important;
}








