.main-container-country{
    background-color: rgb(252, 253, 253);
    width: 60% !important;
    margin: auto !important;
    margin-top: 6.5rem;
    height: auto !important;
    padding: 20px 40px !important;
    line-height: 1.9 !important;
    font-size: 14px !important;
}
.country-details{
    background-color: rgb(125, 185, 238);
    width: 100% !important;
    margin: auto !important;
    margin-top: 6.5rem;
    height: auto !important;
    padding: 20px 40px !important;
}
p{
    font-size: 14px !important;
    line-height: 1.7 !important;
}
.country-details h1, .country-details h2, .country-details h3, .country-details h4{
    font-size: 20px !important;
    color: red !important;
}



.paragraph{
    padding: 20px 0px !important;
    
}

.country-image img{
    width: 100% !important;
    height: 300px !important;
    border: 1px solid transparent;
}