.country-details{
    background-color: aliceblue;
    width: 63% !important;
    margin: auto !important;
    margin-top: 6.5rem;
    height: auto !important;
    padding: 20px 40px !important;
}
p{
    font-size: 14px !important;
    line-height: 1.7 !important;
}
.country-details h1, .country-details h2, .country-details h3, .country-details h4{
    font-size: 20px !important;
    color: red !important;
}
.country-details img{
    width: 50% !important;
    height: 500px !important;
}