.bg-image {
    position: relative !important;
    background-image: url("../assets/IMAGES/AllLogos/user-page.jpg");
    width: 50vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto !important;
}

.logo-image {
    height: 50px;
    width: auto;
    position: absolute;
    top: 15%;
    left: 70%;
    /* transform: translate(-50%, -50%); */
}

.user-form {
    display: flex !important;
    flex-direction: column;
    gap: 10px !important;
    max-width: 50% !important;
    width: 100% !important;
    margin: auto !important;
    align-items: center !important;
    background-color: rgba(255, 255, 255, 0.8);
    height: 300px !important;
    padding: 20px 0px !important;
}


.user-form .form-input {
    margin-top: 5px !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    width: 100% !important;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    align-items: center !important;
    background-color: red !important;


}


.main-container {
    text-align: center;
    padding: 20px;
}






.user-button {
    width: 100% !important;
    background-color: rgb(61, 61, 240) !important;
    transition: all 0.3s ease-in-out !important;
    padding: 5px 0px !important;
}

.user-button:hover {
    background-color: blue !important;
    cursor: pointer !important;
}






@media (max-width: 768px) {
    .user-form {
        max-width: 300px;
    }
}