
/*-----------------------------------------------------------------------
    MEDIA QUERY
 ------------------------------------------------------------------------*/



 @media only screen and (min-width: 320px) and (max-width: 480px){
    .navbar-upper {
        min-width: 100% !important;
        width: 100% !important;
        padding: 0px !important;
    } 
    .headline {
        display: none;
    }

    .social,
    .contact {
        display: none;
    }
    .contact-sm {
        display: flex;
    }

    .navbar-upper-links {
        justify-content: space-between;
    }

    .navbar-upper-links li {
        padding: 0px 0px !important;
    }

    .navbar-upper-links li Button {
        padding: 0px 0px !important;
        background-color: transparent !important;
        color: #fff;
    }


    .navbar-upper-links .upper-link .dropdown-menu {
        display: block;
        min-width: 140px !important;
        width: 140px;
        left:-200% !important;
        
    }

    .navbar-upper-links .upper-link .dropdown-menu li img {
        width: 10px;
        height: auto;
    }

  
    .navbar-upper-links li Button:hover {
        color: #fff !important;
    }

    .navbar-upper-links .upper-link .dropdown-menu li Button {
        padding: 3px 0px !important;
        border-radius: 0px !important;
        color: rgba(9, 62, 115, 0.9) !important;
        font-size: 12px !important;
        width: 100% !important;
        min-width: 100% !important;
        height: auto !important;
        justify-content: flex-start;
    }

    .navbar-upper-links .upper-link .dropdown-menu li Button a {
        font-size: 14px !important;
    }

    .navbar-upper-links .upper-link .dropdown-menu li Button svg {
        font-size: 14px !important;
        margin-right: 3px !important;
    }

    .login,
    .signup {
        display: none;
    }



    /*----------------------------------------------------------------
     Lower-Navbar-Links Start
 -------------------------------------------------------------------- */
    .navbar-container {
        width: 100%;
        border-bottom: 1px solid rgba(9, 62, 115, 0.9);
    }

    .navbar-container .global-wrapper {
        position: relative;
        max-width: 80%;
        display: flex;
        align-items: center !important;
        justify-content: space-between !important;

    }

    .navbar-container .logo-container img {
        height: 27px;
    }

    .global-wrapper .user Button{
        display: block !important;
    }
    .nav .nav-mobile{
        display: flex !important;
    }

    #mobile {
        display: flex;
    }
 }




 
 @media(max-width:768px) {
    .navbar-upper {
        min-width: 100% !important;
        width: 100% !important;
        padding: 0px !important;
    }

    .headline {
        display: none;
    }

    .social,
    .contact {
        display: none;
    }

    .contact-sm {
        display: flex;
    }


    .navbar-upper-links {
        justify-content: space-between;
    }

    .navbar-upper-links li {
        padding: 0px 0px !important;
    }

    .navbar-upper-links li Button {
        padding: 0px 0px !important;
        background-color: transparent !important;
        color: #fff;
    }


    .navbar-upper-links .upper-link .dropdown-menu {
        display: block;
        min-width: 140px !important;
        width: 140px;
        left:-200% !important;
        
    }

    .navbar-upper-links .upper-link .dropdown-menu li img {
        width: 10px;
        height: auto;
    }

  
    .navbar-upper-links li Button:hover {
        color: #fff !important;
    }

    .navbar-upper-links .upper-link .dropdown-menu li Button {
        padding: 3px 0px !important;
        border-radius: 0px !important;
        color: rgba(9, 62, 115, 0.9) !important;
        font-size: 12px !important;
        width: 100% !important;
        min-width: 100% !important;
        height: auto !important;
        justify-content: flex-start;
    }

    .navbar-upper-links .upper-link .dropdown-menu li Button a {
        font-size: 14px !important;
    }

    .navbar-upper-links .upper-link .dropdown-menu li Button svg {
        font-size: 14px !important;
        margin-right: 3px !important;
    }

    .login,
    .signup {
        display: none;
    }
    .navbar-container {
        width: 100%;
        border-bottom: 1px solid rgba(9, 62, 115, 0.9);
    }

    .navbar-container .global-wrapper {
        position: relative;
        max-width: 80%;
        display: flex;
        align-items: center !important;
        justify-content: space-between !important;

    }

    .navbar-container .logo-container img {
        height: 27px;
    }


    .global-wrapper .user Button{
        display: block !important;
    }
    .nav .nav-mobile{
        display: flex !important;
    }


    #mobile {
        display: flex;
    }

}




@media(min-width:770px){
    .global-wrapper .user Button {
        display: none !important; 
        visibility: hidden !important;
        opacity: 0 !important;
    }
    
    
    .nav .nav-mobile {
        display: none !important; 
        visibility: hidden !important;
        opacity: 0 !important;
    }
}