
.services {
    width: auto;
    text-align: center;
}

.services h1, .services h2  {
    text-align: center;
}

.services h3 {
    font-size: 20px !important;
    width: 120px !important;
    font-weight: 500;
    color: var(--mainBgColor);
    text-align: center;
}
.services .services-info-container {
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px !important;
    grid-template-rows: auto;
    margin-top:3rem !important;
}

.services .services-info-container .services-info img {
    width: 1.8rem !important;
    height: 2.0rem !important;
    margin-top: 0% !important;
    z-index: 1;
}

.services .services-info-container .services-info {
    border: 1px solid var(--mainBgColor);
    width: 100% !important;
    height: 10rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 10px var(--mainBgColor);
    transition: box-shadow 0.3s ease, transform 0.5s ease;
    border-radius: 15px;
    background-color: #fff;
    animation: moveUpDown 2s ease-in-out infinite;
}

.services .services-info-container .services-info:hover {
    box-shadow: 0px 4px 10px var(--headingColor);
    cursor: pointer;
}

/* Define the keyframes for moving from top to bottom */
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

@media screen and (max-width: 768px) {
    .services {
        width: 95% !important;
        margin: 0 auto !important;
        padding: 0px;
        margin-top: 3rem !important;
    }

    .services h3 {
        text-align: center;
        font-size: 18px !important;
    }

    .services .services-info-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 0 10px !important;
    }

    .services .services-info-container .services-info img {
        width: 2.1rem !important;
        height: 2.3rem !important;
    }

    .services .services-info-container .services-info {
        width: 100% !important;
        height: 11rem !important;
        margin-bottom: 10px !important;
    }
}



/* Media query for screens larger than 768px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .services {
        width: 100%;
        padding: 2rem !important;
    }

    .services .services-info-container {
        grid-template-columns: repeat(3, 1fr); /* Adjust number of columns */
        grid-gap: 15px;
    }

    .services .services-info-container .services-info {
        height: 16rem; /* Increase height for larger screens */
        margin-bottom: 20px !important;
    }

    .services h1 {
        font-size: 34px !important;
    }

    .services h3 {
        font-size: 20px !important;
    }
}

/* Media query for screens larger than 1024px */
@media screen and (min-width: 1025px) {
.services {
    width: auto;
    text-align: center;
}

.services h1, .services h2  {
    text-align: center;
}

.services h3 {
    font-size: 20px !important;
    font-weight: 500;
    color: var(--mainBgColor);
    text-align: center;
}
.services .services-info-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px !important;
    grid-template-rows: auto;
    margin-top:3rem !important;
}

.services .services-info-container .services-info img {
    width: 2.8rem !important;
    height: 3.0rem !important;
    margin-top: 0% !important;
}

.services .services-info-container .services-info {
    border: 1px solid var(--mainBgColor);
    width: 100%;
    height: 16rem !important;

}   
}