.immigration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
    text-align: center;
    margin: 5rem auto !important;
}

.image img {
    width: 34rem;
    height: 28rem;
    border-radius: 20px !important;
}

.image a {
    text-decoration: none;
    font-size: 28px !important;
    font-weight: 600;
    padding: 10px 40px !important;
    border: 1px solid var(--shipCover);
    background-color: var(--bigStone);
    color: var(--mainTextColor);
    position: absolute;
    border-radius: 12px;
    box-shadow: 9px 10px 5px 0.9px var(--blue);
    transition: all 0.3s ease;
    animation: BackgroundColor 1s ease 0.1s infinite alternate;
}

@keyframes BackgroundColor {
    from {
        border: 1px solid var(--shipCover);
        background-color: var(--bigStone);
        box-shadow: 9px 10px 5px 0.9px var(--blue);
    }

    to {
        color: var(--mainBgColor);
        background-color: var(--lightShade);
        border: 1px solid var(--blue);
        box-shadow: 9px 10px 5px 0.9px var(--mainBgColor);
    }
}

.image a:hover {
    animation: none;
    cursor: pointer;
}

.image {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
}

.image .top {
    position: absolute;
    top: -5%;
    left: -10%;

}

.image .bottom {
    position: absolute;
    bottom: -5%;
    right: -20%;
}

.image-text {
    width: 100%;
    margin: auto;
    padding: 0 40px !important;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

.image-text h1 {
    margin-bottom: 10px !important;
    text-align: start;
    animation: slideDown 1s ease-in-out;
}

.image-text h2 {
    margin-bottom: 20px !important;
    text-align: start;
    animation: slideDown 1.5s ease-in-out;
}

/* Paragraph styles */
.image-text p {
    font-size: 14px !important;
    text-align: start;
    margin-top: -5px !important;
    line-height: 1.7 !important;
    animation: fadeInUp 2s ease-in-out;
}

.visa-points {
    width: 100% !important;
}

.visa-points li {
    display: flex !important;
    text-align: start !important;
    justify-content: start !important;
    align-items: start !important;
}


.visa-points p {
    animation: fadeInLeft 2s ease-in-out;
}
.visa-points li p, .image-text  p{
    font-size: 17px !important;
}

.visa-points img {
    width: 20px;
    height: 20px;
    margin-right: 10px !important;
}

/* =================================================================================================
                              MEDIA QUERY
======================================================================================================*/
/* Mobile phones (small screens) */
@media (max-width: 575.98px) {
    .immigration-container {
        width: 100% !important;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        height: auto !important;
    }

    .image img {
        width: 100% !important;
        height: 20rem !important;
        border-radius: 0px !important;
    }

    .image a {
        font-size: 23px !important;
        width: 100% !important;
        border-radius: 0px;
    }

    .image a:hover {
        animation: none;
        cursor: pointer;
    }

    .image {
        border-radius: 0px;
        margin-top: 2rem !important;
    }

    .image .top {
        top: -20px;
        left: 0;
    }

    .image .bottom {
        bottom: -20px !important;
        left: 0;
    }

    .immigration-container .image-text {
        width: 90% !important;
        line-height: 1.5;
        padding: 0px !important;
    }

    .immigration-container .image-text p {
        font-size: 15px !important;
        padding: 0px !important;
    }

    /* Paragraph styles */
    .image-text p {
        text-align: start;
        margin-top: -5px !important;
        line-height: 1.7;
    }

    .visa-points li {
        padding: 15px 0px !important;
        justify-content: center !important;
    }

    .visa-points img {
        margin-right: 10px !important;
    }

}



@media (min-width: 576px) and (max-width: 767.98px) {
    .immigration-container {
        width: 100% !important;
        margin: 0px auto !important;
        display: flex;
        flex-direction: column;
        text-align: start;
        height: auto !important;
    }

    .image img {
        width: 100% !important;
        height: 24rem;
        border-radius: 0px;
    }

    .image a {
        font-size: 30px !important;
        padding: 15px 40px !important;
    }

    .image .top {
        top: 0%;
        left: 0%;

    }

    .image .bottom {
        bottom: 0%;
        right: 0%;
    }

    .immigration-container .image-text {
        width: auto;
        line-height: 1.5;
        padding: 15px 15px 0px 15px !important;
        border-radius: 10px;
    }

    .immigration-container .image-text h1 {
        font-size: 39px;
    }

    .immigration-container .image-text h2 {
        font-weight: 32px;
        text-decoration: underline;
    }

    .immigration-container .image-text p {
        font-size: 18px;
        padding: 10px !important;
    }
}