
footer{
    width: 100%;
    border-top: 0.5px solid var(--mainBgColor);
   padding: 3px 0px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.footer-container .header-logo img{
    width: auto;
    height:2.5rem;
}

.footer-social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links{
    display: flex;
}
.footer-links li{
    padding: 2px;
    text-align: center;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}
.footer-links li:hover{
    opacity: 1.0;
    transform: scale(1.1);
}

.footer-links a img{
    width: 1.8rem;
    height: 1.8rem;
}
.copyright{
    border-top: 0.5px solid var(--mainTextColor);
    text-align: center;
    background-color: var(--logoColor2);
}
.copyright p{
    font-size: 15px;
    color: var(--mainTextColor);
    padding: 3px 0px;
    margin-bottom: 0rem;
}


@media screen and (max-width:768px) {
    .footer-container{
        flex-wrap: wrap;
        width: 100%;
        margin-top:0rem;
    }
    .footer-container .header-logo img{
        width: auto;
        height: 25px;
    }
    
    .footer-links{
        flex-wrap: wrap;
    }
    .footer-links li{
        padding: 0px;
    }

    .footer-links a img{
        width: auto;
        height: 24px;
    }
    .copyright{
        padding: 2px;
    }
    .copyright p{
        font-size: 12px;
    }
}

