.side-social {
    position: fixed !important;
    bottom: 30px !important;
    right: 50px !important; 
    z-index: 200 !important;
    
}

.side-social ul img {
    height: 55px !important;
    width: 55px !important;
}


.side-social ul li Button {
    max-width: 55px !important;
    height: 58px !important;
    width: 58px !important;
    border: 1px solid transparent;
    border-radius: 50% !important;
    cursor: pointer !important;
    position: relative; 
    background-color: transparent !important;
    z-index: 1;
    overflow: hidden;
    animation: Shake 2s ease-in-out 1s infinite !important; 
    opacity: 1.0 !important;
    background-color: rgba(90, 206, 59, 0.902) !important;
}
@keyframes Shake {
    0% { transform: translateY(0); } /* Start at the original position */
    25% { transform: translateY(-5px); } /* Move left */
    50% { transform: translateY(5px); } /* Move right */
    75% { transform: translateY(-5px); } /* Move left */
    100% { transform: translateY(0); } /* Back to the original position */
}

/* Pulsating animation */
.side-social ul li Button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
    z-index: -1;
    background-color: transparent !important;

}

.side-social ul li Button:hover{
    cursor: pointer !important;
    animation: none !important;
    opacity: 0.8 !important;
}



@media (max-width: 768px) {
    .side-social {
        position: fixed !important;
        bottom: 20px !important;
        right: 50px !important; 
        z-index: 200 !important;
    }
    
    .side-social ul img {
        height: 45px !important;
        width: 45px !important;
    }
    
    .side-social ul li Button {
        max-width: 45px !important;
        height: 45px !important;
        width: 45px !important;
        background-color: transparent !important;
    }
}