@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ----------------------------------
  Variables 
  ------------------------------------ */
  :root {
    --mainBgColor: #1C3342;
    --mainTextColor: #fff;
    --secTextColor: #000;
    --hoverColor: #cbae74;
    --lightShade: #D9CEB6;
    --bigStone: #193744;
    --light1: #4A5C6A;
    --light2: #9BA8AB;
    --cream: #ccd0CF;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --black-filter-blur: blur(5px);
    --headingColor: #3b9ef4;
    --logoColor:#024572;
    --logoColor2:#0f3054;
}


/* --------------------------------------
 Global Settings 
 ---------------------------------------- */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    font-family: Arial, sans-serif;
}

.section h1{
    font-weight: 600;
    font-size: 2.0rem !important;
    letter-spacing: -1.6px !important;
    color: var(--logoColor2);
} 
.section h2{
  font-size:1.6rem !important;
  font-weight: 700;
  color: var(--headingColor);
}
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-size: 1.3rem !important;
}

a {
    text-decoration: none;
    font-size: 1rem !important;
    color: var(--mainBgColor);
}

/* p{
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
    margin-top: 0 !important;
} */

li{
    list-style: none;
    font-size: 1rem !important;
    color: var(--mainBgColor);
}

.main-container{
    width: 60% !important;
    margin: auto !important;
    margin-top: 50px !important;
    margin-bottom: 80px !important;
    height:auto;
}
.section{
    width: 100%;
}


/* Page transition animations */
.page-enter {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .page-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 300ms, transform 300ms;
  }

  

@media (max-width:768px){
    .main-container{
        width: 100% !important;
        margin: auto !important;
        margin-top: 50px !important;
        margin-bottom: 80px !important;
        height:auto;
    }
    .section{
        width: 100% !important;
    }
    .btn {
        line-height: 1.2;
        padding: 7px 18px;
        border-radius: 20px;
    }
    .section h1{
        font-size: 1.7rem !important;
        letter-spacing: -1.7px !important;
    } 
    .section h2{
      font-size: 1.3rem !important;
      letter-spacing: -1.2px !important;
      font-weight: 700;
    }
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        font-size: 1.2rem !important;
    }
    
    a {
        text-decoration: none;
        font-size:0.7rem !important;
    }
    
    p{
        font-size: 0.9rem !important;
        margin-bottom: 0px !important;
        line-height: 1.6 !important;
        font-weight: 500;
    }
    
    .lower-links li{
        list-style: none;
        font-size: 0.7rem !important;
    }
    span{
        font-size: 0.7rem !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .btn {
        line-height: 1.2;
        padding: 7px 18px;
        border-radius: 20px;
    }
    .section h1{
        font-size: 2rem !important;
        letter-spacing: -1.5px !important;
    } 
    .section h2{
      font-size: 1.7rem !important;
      letter-spacing: -1.0px !important;
    }
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        font-size: 1rem !important;
    }
    
    a {
        font-size:1rem;
    }
    
    p{
        font-size: 1rem !important;
        margin-bottom: 0px !important;
        line-height: 1.6 !important;
    }
    
    li{
        font-size: 1rem !important;
    }
    
}